<!-- projects/templates/projects/project_index.html -->

{% extends "base.html" %}

{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for project in page %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}" 
                    class="btn btn-secondary mx-2">Previous</a>
{% endif %}

<a href="?page=1" class="btn btn-secondary">First</a>

{% for num in page.paginator.page_range %}
    {% if num == page.number %}
        <span>{{ num }}</span>
    {% else %}
        <a href="?page={{num}}" class="btn btn-secondary mx-2">
                            {{ num }}
                    </a>
    {% endif %}
{% endfor %}

<a href="?page={{page.paginator.num_pages}}" class="btn btn-secondary mx-2">
        Last
    </a>

{% if page.has_next %}
    <a href="?page={{page.next_page_number}}" class="btn btn-secondary mx-2">
                    Next
            </a>
{% endif %}
</div>
{% endblock %}